.succes {
    background-color: #4BB543;
}

.succes-animation {
    animation: succes-pulse 2s infinite;
}

.danger {
    background-color: #CA0B00;
}

.danger-animation {
    animation: danger-pulse 2s infinite;
}

.custom-modal {
    position: relative;
    width: 300px;
    min-height: 250px;
    background-color: #fff;
    border-radius: 30px;
    margin: 40px 10px;
}

.custom-modal .content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
}

.custom-modal .content .type {
    font-size: 18px;
    color: #999;
}

.custom-modal .content .message-type {
    font-size: 20px;
    color: #000;
}

.custom-modal .border-bottom {
    position: absolute;
    width: 248px;
    height: 20px;
    border-radius: 0 0 30px 30px;
    bottom: -20px;
    margin: 0 8px;
}

.custom-modal .icon-top {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -35px;
    margin: 0 85px;
    font-size: 30px;
    color: #fff;
    line-height: 85px;
    text-align: center;
}

@keyframes succes-pulse {
    0% {
        box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
    }

    50% {
        box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .4);
    }

    100% {
        box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
    }
}

@keyframes danger-pulse {
    0% {
        box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
    }

    50% {
        box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .4);
    }

    100% {
        box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
    }
}


.page-wrapper {
    height: 90vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}



@media only screen and (max-width: 800px) {
    .page-wrapper {
        flex-direction: column;
    }
}